.fosalogo {
    background-image: url('images/fosasmall.png');
    width: 170px  !important ;
    height: 60px    !important;  
    background-position: left !important;
    margin-left: -19px !important;
    margin-top: -35px !important;
}
.logoTitle {
    width:245px !important;
    background-color: #fff !important;
}
.menuColor {
    background-color: #0f3446 !important;
    margin-top: -30px !important;
    height: 900px !important;
}
.searchlogo {
    background-image: url('./images/magnify.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    padding-left: 10px !important;
}
.refreshIcon {
    background-image: url('images/grid/refresh.png') !important;
}